<div class="uwds-paired-example">
<!-- Desperately needs refactored to use CSS! -->


<div class="uwds-paired-example__positive-example">
  <div class="uwds-paired-example__example">
    {{ include.do-this }}
  </div>
  <div><span class="uwds-paired-example__positive-example__do">Do</span>
    {{ include.do-phrase }}</div>
</div>

<div class="uwds-paired-example__negative-example">
  <div class="uwds-paired-example__example">
    {{ include.not-that }}
  </div>
  <div><span class="uwds-paired-example__negative-example__do-not">Don't</span>
    {{ include.not-phrase }}</div>
</div>

</div>
