<nav>
  <ul>
    <li>
      <a href="{{ site.baseurl }}/docs/foundations.html">Foundations</a>
      <ul>
        <li><a href="{{ site.baseurl }}/docs/typography.html">Typography</a></li>
        <li><a href="{{ site.baseurl }}/docs/colors.html">Colors</a></li>
      </ul>
    </li>
    <li>
      <a href="{{ site.baseurl }}/docs/components.html">UI Components</a>
        <ul>
          <li><a href="{{ site.baseurl }}/docs/toolbar.html">Toolbar</a></li>
          <li><a href="{{ site.baseurl }}/docs/navigation.html">Navigation</a></li>
        </ul>
    </li>
    <li>
      <a href="{{ site.baseurl }}/resources.html">Resources</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/acknowledgements">Acknowledgements</a>
    </li>
  </ul>
</nav>
