/* Primary Colors */

$base-red: #C5050C;
$base-blue: #0479A8;
$base-gray-dark: #494949;
$base-gray-light: #ADADAD;

/* Secondary Colors */

// Orange
$orange-light: #FFB74D;
$orange-medium: #FF9800;
$orange-dark: #EF6C00;

// Yellow
$yellow-light: #FFE082;
$yellow-medium: #FFC82C;
$yellow-dark: #F8B700;

// Green
$green-light: #81B184;
$green-medium: #2E7D32;
$green-dark: #1B4B1E;

// Red
$red-light: #D79999;
$red-dark: #9B0000;

//Blue
$blue-light: #9AC9DC;
$blue-dark: #034E6C;

/* Background Colors */
$gray-lighter: #DADFE1;
$gray-lightest: #F7F7F7;

/* Font Colors */
$black-text: #282728;
$white-text: #F9F9F9;

/* Functional Patterns */
$gutter: 30px;
$topbar-height: 64px;
$sidebar-width: 300px;
$body-max-width: 850px;
$breakpoint-medium: 40em;
