/* Primary Colors */

$uw-red: #C5050C;
$uw-dark-red: #9B0000;

$uw-success-color: #2E7532;
$uw-success-color-hover: #255F28;

$uw-anchor-color: #0479a8;
$uw-anchor-color-hover: #034E6C;

$uw-gray-darker: #646569;
$uw-gray-darkest: #282728;

$uw-page-bg: #F7F7F7;
$uw-gray-blue-bg: #DADFE1;

$uw-body-font: #494949;
$uw-gray-footer-text: #ADADAD;
$uw-text-red: #790000;
$uw-white-text: #F9F9F9;

/* Functional Patterns */
$gutter: 30px;
$topbar-height: 64px;
$sidebar-width: 300px;
$body-max-width: 850px;
