
// Red
$color-red: #C5050C;
$color-red-light: #D79999;
$color-red-dark: #9B0000;

// Gray
$color-gray-dark: #494949;
$color-gray-light: #ADADAD;
$color-gray-lighter: #DADFE1;
$color-gray-lightest: #F7F7F7;

// Orange
$color-orange-light: #FFB74D;
$color-orange-medium: #FF9800;
$color-orange-dark: #EF6C00;

// Yellow
$color-yellow-light: #FFE082;
$color-yellow-medium: #FFC82C;
$color-yellow-dark: #F8B700;

// Green
$color-green-light: #81B184;
$color-green-medium: #2E7D32;
$color-green-dark: #1B4B1E;

//Blue
$color-blue: #0479A8;
$color-blue-light: #9AC9DC;
$color-blue-dark: #034E6C;

/* Font Colors */
$color-black-font: #282728;
$color-white-font: #F9F9F9;

/* Functional Patterns */
$gutter: 30px;
$topbar-height: 64px;
$sidebar-width: 300px;
$body-max-width: 850px;
$breakpoint-medium: 40em;
