---
---

@import 'normalize';
@import 'base';
@import 'fonts';
@import 'variables';

body {
	font-family: "Roboto", Tahoma, sans-serif;
	font-size: 16px;
	letter-spacing: .05em;
	line-height: 1.65em;
}

header.uwds-page-header {
	background: $uw-red;
	padding: $gutter/2 $gutter;
	box-sizing: border-box;
	a {
		color: $uw-white-text;
		text-decoration: none;
		text-transform: uppercase
	}
}