---
---

@import 'normalize';
@import 'base';
@import 'fonts';
@import 'variables';
@import 'page-general';
@import 'page-header';
@import 'landing';

body {
	font-family: "Roboto", Tahoma, sans-serif;
	font-size: 16px;
	letter-spacing: .05em;
	line-height: 1.65em;
}

h1 {
	font-size: 2rem;
	line-height: 1.17rem;
	font-weight: 400;
}
h2 {
	font-size: 1.5rem;
	line-height: 1.33rem;
	font-weight: 400;
}
h3 {
	font-size: 1.25rem;
	line-height: 1.6rem;
	font-weight: 500;
}
h4 {
	font-size: 1.125rem;
	line-height: 1.66rem;
	font-weight: 500;
}

header.uwds-page-header {
	background: $uw-red;
	padding: $gutter/2 $gutter;
	box-sizing: border-box;
	a {
		color: $uw-white-text;
		text-decoration: none;
		text-transform: uppercase
	}
}
