.uwds-page__body {
  position: absolute;
  top: $topbar-height;
  left: $sidebar-width;
  right: 0;
  bottom: 0;
  overflow-y: auto;

  &__column {
    max-width: $body-max-width;
    margin-left: auto;
    margin-right: auto;
    padding: $gutter;
  }
}
