<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{ page.title }} | UW IT Design System</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
  </head>
  <body>
    <div class="uwds-page">
      {% include header.html %}
      <div class="uwds-page__sidebar">
        {% include table-of-contents.html %}
      </div>
      <div class="uwds-page__body">
        <div class="uwds-page__body__column">
          <h1>{{ page.title }}</h1>
          {{ content }}
        </div>
      </div>
    </div>
  </body>
</html>
